<div class="profile-page">
  
  <div class="profile-details">
    <h1>{{username}}</h1>
    <p><strong>Email:</strong> {{email}}</p>
    {{#if posts}}
      {{#each post}}
        <div class="post">
          <h2>{{postTitle}}</h2>
          <p>{{postcontent}}</p>
        </div>
      {{/each}}
    {{/if}}


  </div>
</div>
















{{!-- 

    <div class="profile-info">
   

      <p><strong>Post Title:</strong> {{postTitle}}</p>
      <p><strong>Post Content:</strong> {{post-content}}</p>

    </div>
    <div class="profile-bio">
      <p>{{profileBio}}</p>
    </div>
    <div class="profile-social">
      {{#if profileTwitter}}
        <a href="{{profileTwitter}}" target="_blank"><i
            class="fab fa-twitter"
          ></i></a>
      {{/if}}
      {{#if profileFacebook}}
        <a href="{{profileFacebook}}" target="_blank"><i
            class="fab fa-facebook-f"
          ></i></a>
      {{/if}}
      {{#if profileInstagram}}
        <a href="{{profileInstagram}}" target="_blank"><i
            class="fab fa-instagram"
          ></i></a>
      {{/if}}
      {{#if profileLinkedin}}
        <a href="{{profileLinkedin}}" target="_blank"><i
            class="fab fa-linkedin-in"
          ></i></a>
      {{/if}} --}}
