<div class="profile-page">

  <div class="profile-details">
    <h1>welcome {{user.username}}</h1>
    <p><strong>Email:</strong> {{user.email}}</p>
  </div>
</div>

<div id="create-post" class="create-post">
  <h2 class="create-post-title">Create a New Post</h2>
  <a href="/post" class="create-post-link">
  <button class="cta-button" id="postBtn">Click here to create a new post

  </button>
  </a>
</div>




  <div id="post-1" class="post">
    <h3>My posts:</h3>
    {{#each posts}}
<span class="name">{{this.user.username}}</span>

    <label class="post-title"> Book Title: {{this.postTitle}}</label>
    <p class="post-content">{{this.postContent}}</p>
    <button
          class="cta-button btn-danger"
          id="delete-btn"
          data-id="{{this.id}}"
        >DELETE</button>
{{/each}}
  </div>
</div>


<script src="./js/post.js"></script>
